.home-screen {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: black;
    padding: 10px 20px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    margin-right: 10px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
}

.content {
    flex-grow: 1;
}

.signOutButton {
    background-color: rgb(239 68 68);
    width: 100%;
    display: flex;
    justify-content: center;
}

.signOutButton:hover {
    background-color: rgb(185 28 28);
}

.customIcons {
    background-color: transparent;
    padding-top: 0.25rem; /* Equivalent to 1 in Tailwind */
    padding-bottom: 0.25rem; /* Equivalent to 1 in Tailwind */
    padding-left: 0.25rem; /* Equivalent to 1 in Tailwind */
    padding-right: 0.25rem; /* Equivalent to 1 in Tailwind */
    border-width: 1px; /* Equivalent to border in Tailwind */
    border-style: solid; /* Equivalent to border in Tailwind */
    border-color: white; /* Equivalent to border-white in Tailwind */
    border-radius: 9999px; /* Large value to create a circular shape */
    display: flex; /* Equivalent to flex in Tailwind */
    align-items: center; /* Equivalent to items-center in Tailwind */
    font-weight: 600; /* Equivalent to semibold in Tailwind */
}

.customIcons:hover {
    background-color: #4b5563; /* Equivalent to gray-600 in Tailwind */
}
